<div class="movie-card card col-lg-4 col-md-6 col-12">
    <div class="card-body">
        <input class="movie_id" type="hidden" value="{{ id }}" name="movie_id"/>
        <div class="row">
            <div class="col-12 text-center"><h4 class="card-title">{{ title }}</h4></div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-12 text-center">
                <img class="move-poster" src="{{ photo }}"/>
            </div>
            <div class="col-lg-8 col-12">
                <div class="row movie-detail">
                    <div class="col-5">
                        <div>Kraj:</div>
                        <div><small>{{ country }}</small></div>
                    </div>
                    <div class="col-7">
                        <div>Reżyser:</div>
                        <div><small>{{ director }}</small></div>
                    </div>
                </div>
                <div class="row movie-detail">
                    <div class="col-12">
                        <div>Gatunek:</div>
                        <div><small>{{ genre }}</small></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <select class="star-rates">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option selected value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </div>
                </div>
                <div class="row d-none d-sm-flex">
                    <div class="col-12 col-sm-6">
                        <button class="btn btn-danger btn-sm no-btn col-12 float-sm-left">Nie znam</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button class="btn btn-primary btn-sm ok-btn col-12 float-sm-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i>">Zatwierdź</button>
                    </div>
                </div>
                <div class="row d-flex d-sm-none">
                    <div class="col-12 col-sm-6">
                        <button class="btn btn-primary btn-sm ok-btn col-12 float-sm-right" data-loading-text="<i class='fa fa-spinner fa-spin '></i>">Zatwierdź</button>
                    </div>
                    <div class="col-12 col-sm-6">
                        <button class="btn btn-danger btn-sm no-btn col-12 float-sm-left">Nie znam</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>